<!DOCTYPE html>

<html>

    <head>
        <title>Ajout d'une destination</title>
        <style></style>
    </head>

    <body>
        <h1>Ajouter une destination</h1>
        <form action="/destinations/add" method="POST">
            Pays:
            <input type="text" name="country" value="<%= country %>"><br>
            Ville:
            <input type="text" name="city" value="<%= city %>"><br>
            Jours:
            <input type="number" name="days" value="<%= days %>"><br>

            <input type="submit" name="validate" value="Valider"><br>
            <input type="submit" value="Retour à la liste" formaction="/destinations">

        </form>
    </body>

    <footer></footer>

</html>