<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style>
           
        </style>
    </head>
    <body>
        <h1>Accueil</h1> 
        <p><a href="./destinations.ejs"> Destinations </a></p>
        <p><a href="./agences.ejs"> Agences </a></p>
    </body>
    <footer></footer>
</html>