<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style>
            .body-bank-image {
                background-image: url('../assets/images/bank.jpg');
                background-repeat: no-repeat;
                height: 100%;
            }
        </style>
    </head>
    <body class="body-bank-image">
           
    </body>
    <footer></footer>
</html>