<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <style></style>
    </head>

    <body>
        <h1>S'enregistrer</h1>

        <form action="/register"> <!--methode="POST"-->
            
            Username:
            <input type="text" name="username" value="<%= username =%>"><br>

            Password:
            <input type="password" name="password" value="<%= password =%>"><br>

            <input type="submit" value="Register">
            
        </form>
    </body>

    <footer></footer>
</html>