<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <style>
           
        </style>
    </head>
    <body>
        <h1>register</h1> 

        <form action="/register" method="POST">

            Firstname:
            <input type="text" name="firstname" value="<%= firstname %>"><br>
            Lastname:
            <input type="text" name="lastname" value="<%= lastname %>"><br>
            E-mail:
            <input type="text" name="email" value="<%= email %>"> <br>
            Password:
            <input type="text" name="password">

            <input type="submit" name="register" value="Register">
        </form>
    </body>

    <footer></footer>
</html>