<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style>
           
        </style>
    </head>
    <body>
        <h1>Accueil</h1> 

        <form action="/userHome" method="GET">

            <p><a href="/destinations"> Destinations </a></p>
            <p><a href="/agences"> Agences </a></p>
            <p>Log out </p>
        </form>
    </body>
    <footer></footer>
</html>