<!DOCTYPE html>

<html>
    <head>
        <title>User Delete</title>
    </head>

    <body>
        <h2><em>Êtes-vous sûr de vouloir supprimer votre compte?</em></h2>

        <form action="/userRemove" method="POST">
        <button type="submit">Delete</button>
        </form>

        <form action="/userHome" method="GET">
        <button type="submit">Retour à ma page d'accueil</button>
        </form>
        
    </body>
</html>